/* COMMON STYLES UNDER THIS COMMENT */
html,
body {
  height: 100%;
  font-family: 'PT Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #333;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 18px;
  }
}

.container {
  max-width: 1024px;
  margin: auto;
}

.button-red {
  display: inline-block;
  margin: 0;
  padding: 7px 9px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  background-color: #be0f34;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  border: 0;
}

/* COMMON STYLES OVER THIS COMMENT */

header {
  padding: 10px;
  background: #001c54;
  color: #fff;
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
    img {
      height: 40px;
    }
  }
  .phone {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 500px) {
  header {
    padding: 20px;
    .flex-container {
      align-items: baseline;
      flex-direction: row;
    }
    .logo {
      margin-bottom: 0;
      img {
        height: 60px;
      }
    }
  }
}

.outer {
  background-image: url(../images/hello.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.hello {
  display: flex;
  flex-direction: column-reverse;
  justify-content: bottom;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
  .advertisement {
    width: 75%;
    max-width: 250px;
    padding: 20px;
    background: #fff;
    color: #333;
    h1 {
      margin: 0 0 10px 0;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h2 {
      margin: 0 0 10px 0;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 500px) {
  .hello {
    min-height: 65vh;
    align-items: left;
  }
}

@media screen and (min-width: 768px) {
  .hello {
    min-height: 70vh;
    .advertisement {
      max-width: 365px;
      h1 {
        font-size: 35px;
      }
      h2 {
        font-size: 30px;
      }
    }
  }
}

.info {
  padding: 20px 10px;
  &_block {
    margin-bottom: 30px;
    &_img {
      margin-bottom: 30px;
      img {
        display: block;
        width: 100%;
        max-width: 450px;
        margin: auto;
      }
    }
    &_text {
      font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
    &_heading {
      margin: 0 0 20px 0;
      font-size: 25px;
    }
  }
}

@media screen and (min-width: 768px) {
  .info {
    padding: 20px 0;
    &_block {
      display: flex;
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
      &_img {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 0;
        img {
          max-width: 100%;
        }
      }
      &_text {
        width: 50%;
        padding: 0 20px;
      }
      &_heading {
        font-size: 30px;
      }
    }
  }
}

.contact {
  padding: 0 10px;
  margin-bottom: 40px;
  &_heading {
    display: block;
    font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
  }
  &_form {
    &_field {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin: 0 0 20px 0;
      border: 1px solid #d8d8d8;
      border-radius: 3px;
    }
  }
  &_info {
    margin-bottom: 50px;
    &_heading {
      font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
      font-size: 24px;
      margin: 20px 0;
      &:first-of-type {
        margin-top: 44px;
      }
    }
    &_scedule {
      margin: 0 0 10px 0;
      span {
        margin-left: 40px;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .contact {
    display: flex;
    &_form {
      width: 50%;
      padding: 0 20px;
    }
    &_info {
      width: 50%;
      padding: 0 20px;
    }
  }
}

footer {
  padding: 20px;
  background: #001c54;
  color: #fff;
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
    }
  }
  .footer_copyright {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 500px) {
  footer {
    padding: 20px;
    .flex-container {
      align-items: baseline;
      flex-direction: row;
    }
    .footer_copyright {
      margin-bottom: 0;
    }
  }
}

/* ------------------ APPLY.HTML ------------------ */

.apply_head {
  min-height: 55vh;
  background-image: url(../images/head.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.apply-form {
  margin-top: -130px;
  padding: 20px;
  background-color: #fff;
  &_row {
    display: block;
    margin-bottom: 15px;
    input {
      margin: 0;
      padding: 5px 10px;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
    }
  }
  hr {
    font-size: 0;
    margin: 30px 0;
    border: 1px solid #d9d9d9;
  }
}
